<div class="comment-edit-forms">
  <%= form_for([@post, @comment]) do |form| %>
    <%= form.text_area :body, class: "comment-edit" %>
    <%= button_tag(type: 'submit', class: "btn btn-sm") do %>
      Now ok!
    <% end %>
  <% end %>
</div>
