<div class="comment-forms">
  <%= form_for([@post, @post.comments.build]) do |form| %>
  <% if 0>3 %>  <% if @post.comments.errors.any? %>
      <div class="error-message">
        <ul>
          <% @post.comments.errors[:body].each do |msg| %>
          <li>*<%= msg.capitalize %></li>
          <% end %>
        </ul>
      </div>
    <% end %> <% end %>

    <%= form.text_area :body, class: "comment-create" %>
    <%= button_tag(type: 'submit', class: "btn btn-sm") do %>
      It's ok!
    <% end %>
  <% end %>
</div>
