<body>
  <div class="post-view">
    <h2>Post's view</h2>
    <p> <span>Title:</span><%= @post.title %> </p>
    <p> <span>Post:</span><%= @post.body %> </p>
    <button class="post-action">Edit Post</button>
    <button class="post-action">Delete Post</button>
  </div>
</body>
