@charset "utf-8";

div.post-forms
{
  width: 65%;
  margin: auto;

  .post-create-title
  {
    width: 90%;
    margin-bottom: 2%;
    margin-left: 10%;
  }

  .post-create-body
  {
    width: 90%;
    height: 200px;
    margin-bottom: 2%;
    margin-left: 10%;
  }

  span.post-label
  {
    display: block;
    float: left;
    margin-left: -30px;
    padding-top: 1%;
    margin-bottom: -3%;
  }

  .post-img {
    text-align: center;
    margin-left: 65px;
  }

  .post-img-form { margin-left: 70px;}

  .post-save
  {
    width: 100px;
    margin-left: 45%;
  }
}

div.user-forms
{
  .field
  {
    display: block;
    height: 26px;
    width: 100%;
    padding: 1px 1px 1px 1px;
    float: left;
  }

  .user_login
  {
    width: 200px;
    margin-bottom: 2%;
    margin-top: -26px;
    margin-left: 80px;
    float: left;
  }

  .user_email
  {
    width: 200px;
    margin-bottom: 4%;
    margin-top: -26px;
    margin-left: 80px;
    float: left;
    z-index: 100;
  }

  .user_password
  {
    width: 200px;
    margin-bottom: 1%;
    margin-top: -26px;
    margin-left: 80px;
    float: left;
  }

  .user_password_confirmation
  {
    width: 200px;
    margin-bottom: 2%;
    margin-top: -26px;
    margin-left: 80px;
    float: left;
  }

  label
  {
    display: block;
    width: 20px;
    float: left;
    margin-left: -30px;
    padding-top: 1%;
    margin-bottom: -3%;
    clear: both;
  }

  .validation-true
  {
    width: 20px;
    height: 20px;
    float: left;
    background: url(true.png) no-repeat;
    background-size: cover;
    margin-top: -26px;
    margin-left: 5px;
    margin-bottom: 0px;
    visibility: hidden;
  }

  .validation-false
  {
    width: 20px;
    height: 20px;
    float: left;
    background: url(false.png) no-repeat;
    background-size: cover;
    margin-top: -26px;
    margin-left: 5px;
    margin-bottom: 0px;
    visibility: hidden;
  }

  .hint
  {
    width: 20px;
    height: 20px;
    float: left;
    background: url(hint.png) no-repeat;
    background-size: cover;
    margin-top: 5px;
    margin-left: 40px;
    margin-bottom: 0px;
  }

  div { clear: both; }
}

div.sessions-forms
{
  label
  {
    visibility: hidden;
    clear: both;
    width: 1px;
  }

  input
  {
    margin-left: 50px;
    width: 200px;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  p
  {
    text-align: center;
    margin-top: 5px;
    margin-bottom: -10px;
  }

  .alert-errors
  {
    color: red;
    text-align: center;
    padding-left: 10px;
  }

  label.checkbox
  {
    visibility: visible;
    margin-left: 50px;
    width: 200px;
    padding-left: 10px;
  }

  .checkbox
  {
    margin-top: -10px;
    margin-bottom: 10px;
    span
    {
      margin-left: -5px;
      font-weight: normal;
      padding-left: 25px;
      padding-right: 10px;
    }
  }

  #session_remember_me
  {
    width: auto;
    margin-left: 0;
    margin-top: 5px;
  }
}
