@charset "utf-8";

.user-edit
{
  width: 600px;
  margin: auto;
  margin-top: 10px;
}

.user-edit-form
{
  margin-left: 5px;
  margin-top: 30px;

  .submit
  {
    padding-top: 20px;

    button
    {
      clear: both;
    }
  }

  label { width: 100px; }

  .hidden { visibility:  hidden; }

  .error-message
  {
    margin-left: 0px;
    margin-top: -20px;
  }
}
